@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4" style="padding: 1rem 0 0 0">Альманахъ - блог о книгах</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="./Images/old-book.png" style="width: 100%; padding: 1rem 1rem 0 0;">
        </div>

        <div class="col-6 text-justify" style="padding: 4rem 0 0 0">
            <p>
                Привет! Меня зовут Леонид!
            </p>
            <p>
                Это мой блог о книгах. Я очень люблю читать и неплохо понимаю в литературе, благодаря филологическому образованию.
            </p>
            <p>
                Здесь я делюсь с вами своим мнением о прочитанных книгах, хвалю их, либо критикую, а также выставляю им оценки.
                Стараюсь не ленится и делать это почаще.
            </p>
            <p>
                Я выкладываю рецензии в среду раз в две недели. Однако иногда это бывает чаще,
                если мне попадется какое-нибудь особо интересное произведение.
            </p>
            <p>
                Надеюсь, здесь вы найдете для себя много нового и сможете взглянуть на мир литературу под новым углом.
            </p>
        </div>
    </div>
</div>

@*<h2>Ajax</h2>
    <p><button class="btn btn-primary" id="load">Load</button></p>
    <div id="grid"></div>*@

@section scripts{

    @*<script>
            function getRandomQuote() {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("quote").innerHTML = this.responseText;
                    }
                };
                xhttp.open("GET", "/Quotes/AnotherRandomQuote", true);
                xhttp.send();
            }
        </script>

        <script>
            $(document).ready(function() {
                getRandomQuote();
            });
        </script>*@

    @*<script>

            $(function () {
                $('#load').on('click',
                    function () {
                        $('#grid').load('/Quotes/AnotherRandomQuote');

                    });
            });

        </script>*@

}